.xwp-country-card {
	border: 1px solid #dcdcde;
	box-shadow: 0 1px 1px rgba(#000, 0.05);
	font-family: "Times New Roman", Times, serif;

	.xwp-country-card__media {
		align-items: center;
		border-bottom: 1px solid #dcdcde;
		display: flex;
		height: calc(200px + 5vw);
		justify-content: center;
		overflow: hidden;
		position: relative;
		margin: 0;

		&::before {
			align-items: center;
			content: attr(data-emoji-flag);
			display: flex;
			filter: blur(3vh) saturate(3) contrast(1) opacity(0.4);
			font-size: calc(800px + 3vh);
			height: 100%;
			justify-content: center;
			left: 0;
			pointer-events: none;
			position: absolute;
			top: 0;
			width: 100%;
		}
	}
}

.xwp-country-card-flag {
	font-size: calc(200px + 3vw);
	line-height: 1;
	z-index: 1;
}

.xwp-country-card__heading {
	padding: 3rem;
	margin: 0;
	font-size: 2.5rem;
	background-color: #fff;
}

.xwp-country-card__country-code {
	text-decoration-style: dotted;
	text-decoration-line: underline;
}

.xwp-country-card__related-posts {
	border-top: 1px solid #dcdcde;
	background-color: #f0f0f0;
	padding: 3rem;

	a {
		color: #000;
	}
}

.xwp-country-card__related-posts__heading {
	margin: 0;
	font-size: 2rem;
	color: #000;
}

.xwp-country-card__related-posts-list {
	margin: 0;

	ul li {
		color: #fff;
	}
}

.related-post + .related-post {
	margin-top: 1.5rem;
}

.related-post .title {
	margin: 0;
	font-size: 2rem;
}

.related-post .excerpt {
	margin: 0;
}
